.section {
    text-align: center;
}

.section > a {
    font-size: 1.5rem;
    
}

.section:hover > a {
    color:skyblue;
    text-decoration: underline;
}

.section > .img-box > a > img {
    width: 100%;
    display: block;

}

.section > .img-box {
    width: 500px;
    margin-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}