/* 노말라이즈*/

html,ul,li {
margin:0;
padding:0;
text-decoration:none;
}

a {
color:inherit;
list-style:none;
}

/* 라이브러리 */ 
.con {
max-width:1920px;
margin-left:auto;
margin-right:auto;
position:relative;
}

.section-1 {
position:relative;
width:1920px;
}

.section-3 > a > img  {
position:absolute;
position: absolute;
width: 450px;
height: 550px;
left: 158px;
top: 1343px;
}

/* 섹션 4 */


.section-4 > .box > .best > img:first-child {
position: absolute;
width: 331px;
left: 160px;
top: 2111px;
opacity:1;
}

.section-4 > .box:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-4 > .box:hover > .table-wrap {
opacity:1;

} 

.section-4 > .box > .table-wrap {
opacity:1;
position: absolute;
width: 331px;
left: 160px;
top: 2111px;
opacity:0;
transition:opacity 0.5s;
}

.section-4 > .box > .best > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 160px;
top: 2564px;
}

.section-4 > .box1 > .best1 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 2109px;
}

.section-4 > .box1 > .best1 > img:last-child {
position: absolute;
width: 331px;
height: 94px;
left: 587px;
top: 2562px;
}

.section-4 > .box1:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-4 > .box1:hover > .table-wrap {
opacity:1;

} 

.section-4 > .box1 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 2109px;
opacity:0;
transition:opacity 0.5s;
}



.section-4 > .box2 > .best2 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 2111px;
}

.section-4 > .box2 > .best2 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1009px;
top: 2564px;
}

.section-4 > .box2:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-4 > .box2:hover > .table-wrap {
opacity:1;

} 

.section-4 > .box2 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 2111px;
opacity:0;
transition:opacity 0.5s;
}



.section-4 > .box3> .best3 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 2109px;

}

.section-4 > .box3 > .best3 > img:last-child {
position: absolute;
width: 331px;
height: 94px;
left: 1431px;
top: 2562px;

}

.section-4 > .box3:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-4 > .box3:hover > .table-wrap {
opacity:1;

} 

.section-4 > .box3 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 2109px;
opacity:0;
transition:opacity 0.5s;
}


/* 섹션 5*/ 

.section-5 > .box > .best > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 2715px;
}

.section-5 >.box >  .best > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 158px;
top: 3168px;
}

.section-5 > .box:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-5 > .box:hover > .table-wrap {
opacity:1;

} 

.section-5 > .box > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 2715px;
opacity:0;
transition:opacity 0.5s;
}

.section-5 > .box1 > .best1 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 2713px;
}

.section-5 > .box1 > .best1 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 587px;
top: 3168px;
}

.section-5 > .box1:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-5 > .box1:hover > .table-wrap {
opacity:1;

} 

.section-5 > .box1 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 2713px;
opacity:0;
transition:opacity 0.5s;
}


.section-5 >.box2 >  .best2 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 2715px;
}

.section-5 > .box2 > .best2 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1009px;
top: 3168px;
}

.section-5 > .box2:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-5 > .box2:hover > .table-wrap {
opacity:1;

} 

.section-5 > .box2 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 2715px;
opacity:0;
transition:opacity 0.5s;
}



.section-5 > .box3 > .best3 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 2713px;
}

.section-5 > .box3 > .best3 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1431px;
top: 3168px;
}

.section-5 > .box3:hover > .best > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-5 > .box3:hover > .table-wrap {
opacity:1;

} 

.section-5 > .box3 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 2713px;
opacity:0;
transition:opacity 0.5s;
}

/* 섹션 6 */


.section-6 >.box > .new > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 3819px;
}

.section-6 > .box > .new > img:last-child {
position: absolute;
width: 187px;
height: 84px;
left: 160px;
top: 4280px;
}

.section-6 > .box:hover > .new > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-6 > .box:hover > .table-wrap {
opacity:1;

} 

.section-6 > .box > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 3819px;
opacity:0;
transition:opacity 0.5s;
}

.section-6 > .box1 > .new1 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 3817px;
}

.section-6 > .box1 > .new1 > img:last-child {
position: absolute;
width: 146px;
height: 84px;
left: 587px;
top: 4280px;
}

.section-6 > .box1:hover > .new1 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-6 > .box1:hover > .table-wrap {
opacity:1;

} 

.section-6 > .box1 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 3817px;
opacity:0;
transition:opacity 0.5s;
}

.section-6 > .box2 > .new2 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 3819px;
}

.section-6 > .box2 > .new2 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1009px;
top: 4272px;
}

.section-6 > .box2:hover > .new2 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-6 > .box2:hover > .table-wrap {
opacity:1;

} 

.section-6 > .box2 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 3819px;
opacity:0;
transition:opacity 0.5s;
}

.section-6 > .box3 > .new3 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 3817px;
}

.section-6 > .box3 > .new3 > img:last-child {
position: absolute;
width: 331px;
height: 94px;
left: 1431px;
top: 4270px;
}


.section-6 > .box3:hover > .new3 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-6 > .box3:hover > .table-wrap {
opacity:1;

} 

.section-6 > .box3 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 3817px;
opacity:0;
transition:opacity 0.5s;
}

/* 섹션 7 */


.section-7 > .box > .new > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 4423px;
}

.section-7 > .box > .new > img:last-child {
position: absolute;
width: 178px;
height: 84px;
left: 158px;
top: 4884px;
}

.section-7 > .box:hover > .new > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-7 > .box:hover > .table-wrap {
opacity:1;

} 

.section-7 > .box > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 4423px;
opacity:0;
transition:opacity 0.5s;
}

.section-7 > .box1 > .new1 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 4421px;
}

.section-7 > .box1 > .new1 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 587px;
top: 4876px;
}
.section-7 > .box1:hover > .new1 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-7 > .box1:hover > .table-wrap {
opacity:1;

} 

.section-7 > .box1 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 4421px;
opacity:0;
transition:opacity 0.5s;
}



.section-7 > .box2 > .new2 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 4423px;
}

.section-7 > .box2 > .new2 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1009px;
top: 4876px;

}
.section-7 > .box2:hover > .new2 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-7 > .box2:hover > .table-wrap {
opacity:1;

} 

.section-7 > .box2 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 4423px;
opacity:0;
transition:opacity 0.5s;
}



.section-7 > .box3 > .new3 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 4421px;
}

.section-7 > .box3 > .new3 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1431px;
top: 4876px;
}

.section-7 > .box3:hover > .new3 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-7 > .box3:hover > .table-wrap {
opacity:1;

} 

.section-7 > .box3 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 4421px;
opacity:0;
transition:opacity 0.5s;
}

/* 섹션 8 */


.section-8 >.box >  .made > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 5172px;
}

.section-8 > .box > .made > img:last-child {
position: absolute;
width: 303px;
height: 84px;
left: 158px;
top: 5633px;
}

.section-8 > .box:hover > .made > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-8 > .box:hover > .table-wrap {
opacity:1;

} 

.section-8 > .box > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 160px;
top: 5172px;
opacity:0;
transition:opacity 0.5s;
}

.section-8 > .box1 > .made1 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 5170px;
}

.section-8 > .box1 > .made1 > img:last-child {
position: absolute;
width: 228px;
height: 84px;
left: 587px;
top: 5633px;
}

.section-8 > .box1:hover > .made1 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-8 > .box1:hover > .table-wrap {
opacity:1;

} 

.section-8 > .box1 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 587px;
top: 5170px;
opacity:0;
transition:opacity 0.5s;
}


.section-8 >.box2 >  .made2 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 5172px;
}

.section-8 >.box2 >  .made2 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1009px;
top: 5625px;

}

.section-8 > .box2:hover > .made2 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-8 > .box2:hover > .table-wrap {
opacity:1;

} 

.section-8 > .box2 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1009px;
top: 5172px;
opacity:0;
transition:opacity 0.5s;
}



.section-8 > .box3 > .made3 > img:first-child {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 5170px;
}

.section-8 > .box3 > .made3 > img:last-child {
position: absolute;
width: 331px;
height: 92px;
left: 1431px;
top: 5625px;

}

.section-8 > .box3:hover > .made3 > img:first-child {
opacity:0;
transition:opacity 0.5s;
} 

.section-8 > .box3:hover > .table-wrap {
opacity:1;

} 

.section-8 > .box3 > .table-wrap {
position: absolute;
width: 331px;
height: 448px;
left: 1431px;
top: 5170px;
opacity:0;
transition:opacity 0.5s;
}

/*섹션2 */
.section-2 {
position: absolute;
width: 1920px;
height: 856px;
left: 8px;
top: 404px;

}

/* 파기네이션 컬러 설정 */

.swiper-pagination {
margin-bottom:10px;
}
.swiper-pagination > .swiper-pagination-bullet {
width:10px;
height:10px;
background-color:#afafaf;
border-radius:50%;
opacity:1;

}

.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
background-color:white;
}