/* 폰트 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html {
    overflow-x:hidden;
    
  }
  
  /* 노말라이즈 */
  body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
  }
  
  a {
    color:inherit;
    text-decoration:none;
  }
  
  /* 스크롤바 */
  .scrollbar
  {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  
  .force-overflow
  {
    min-height: 450px;
  }
  
  ::-webkit-scrollbar-track
  { 
      background-color: #ffffff;
  }
  
  ::-webkit-scrollbar
  {
      width: 7px;
    height:7px;
      background-color: #c2e9fb;
  }
  
  ::-webkit-scrollbar-thumb
  {
      border-radius: 3px;
      background-color: #a1c4fd;
  }
  
  /* 라이브러리 */
  
  .img-box > img {
    width:100%;
    display:block;
  }
  
  .con {
    margin-left:auto;
    margin-right:auto;
  }
  
  /* 커스텀 */
  :root {
    --site-width:1980px;
  }
  
  .con {
    width:var(--site-width);
  }
  
  .con-min-width {
    min-width:var(--site-width);
  }
  .height-100p {
    height:100%;
  }
  
  .flex {
    display:flex;
  }
  
  .felx-jc-c {
    justify-content:center;
  }
  
  .flex-ai-c {
    align-items:center;
  }
  
  .block {
    display:block;
  }
  
  /* 섹션 */
  .section-1 {
    max-width:1980px;
    height:1080px;
  }
  
  /* 섹션 2 */ 
  .box {
    position:absolute;
    width:100px;
    height:100px;
    left:0;
    right:0;
    background:#6aafe6;
  }
  
  .box > span {
    position: absolute;
    width: 67px;
    height: 89px;
    left: 16px;
    top: 5px;
    color:white;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 89px;
  }
  .section-2 {
    height:540px;
    position:relative;
    width:1980px;
  }
  
  .section-2 > .section2 > span:nth-of-type(1) {
    font-weight:400;
    font-size:40px;
    color:#6aafe6;
    font-family: Roboto;
    position: absolute;
    width: 188px;
    height: 25px;
    line-height: 47px;
    left:251px;
    top:25%;
  }
  
  .section-2 > .section2 > span:nth-of-type(2) {
    position:absolute;
    left:251px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 65px;
    top:40%;
  }
  
  .section-2 > .section2 > span:nth-of-type(3) {
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    position: absolute;
    left:35%;
    top:40%;
  }
  
  /* 섹션3*/ 
  .section-3 {
    height:540px;
    position:relative;
    width:1980px;
  }
  
  .section-3 > .section3 > span:first-child {
    font-weight:400;
    font-size:40px;
    color:#6aafe6;
    font-family: Roboto;
    position: absolute;
    line-height: 47px;
    left:251px;
    top:25%;
  }
  
  .section-3 > .section3 > span:nth-of-type(2) {
    position:absolute;
    left:251px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 65px;
    top:40%;
  }
  
  .section-3 > .section3 > span:nth-of-type(3) {
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 34px;
    position: absolute;
    left:35%;
    top:40%;
  }
  
  /* 섹션4 */
  .section-4 {
    width:1980px;
    height:1080px;
    position:relative;
  }
  
  .section-4 > span:first-child {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color:#6aafe6;
    position:absolute;
    top:160px;
    left:251px;
  }
  
  .section-4 > img:nth-of-type(1) {
    position:absolute;
    left: 315px;
    top:296px;
  }
  
  .section-4 > img:nth-of-type(2) {
    position:absolute;
    left: 1054px;
    top: 296px;
  }
  
  /* 섹션 5 */
  .section-5 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-5 > .box1 {
    background:#6aafe6;
    position:absolute;
    top:0;
    right:0;
    width:1086px;
    height:540px; 
  }
  
  .section-5 > .box1 > span:nth-of-type(1) {
    position:absolute;
    left:40px;
    top:42px;
    font-family: CookieRun;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    color: #FFFFFF
  }
  
  .section-5 > .box1 > span {
    font-family: CookieRun;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: rgba(255, 255, 255, 0.8);
    display:block;
    left:40px;
    position:absolute;
  }
  
  .section-5 > .box1 > span:nth-of-type(2) {
    top:157px;
  }
  
  .section-5 > .box1 > span:nth-of-type(3) {
    top:249px;
  }
  
  .section-5 > .box1 > span:nth-of-type(4) {
    top:341px;
  }
  
  .section-5 > .box1 > span:nth-of-type(5) {
    top:433px;
  }
  
  .section-5 > .box2 {
    background:#dfdfdf;
    position:absolute;
    bottom:0;
    right:0;
    width:1086px;
    height:540px;
  }
  
  
  .section-5 > .box2 > span:nth-of-type(1) {
    position:absolute;
    left:40px;
    top:42px;
    font-family: CookieRun;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    color: #FFFFFF;
  }
  
  .section-5 > .box2 > span {
    font-family: CookieRun;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: rgba(255, 255, 255, 0.8);
    display:block;
    left:40px;
    position:absolute;
  }
  
  .section-5 > .box2 > span:nth-of-type(2) {
    top:157px;
  }
  
  .section-5 > .box2 > span:nth-of-type(3) {
    top:249px;
  }
  
  .section-5 > .box2 > span:nth-of-type(4) {
    top:341px;
  }
  
  .section-5 > .box2 > span:nth-of-type(5) {
    top:433px;
  }
  /* 섹션 6*/
  .section-6 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-6 > span:nth-of-type(1) {
    position: absolute;
    left: 251px;
    top: 116px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color:#6aafe6;
  }
  
  .section-6 > span:nth-of-type(2) {
    position: absolute;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 64px;
    left: 251px;
    top: 190px;
  }
  
  .section-6 > span:nth-of-type(3) {
    position: absolute;
    left: 251px;
    top: 276px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
  }
  
  .section-6 > img:nth-of-type(1) {
    position: absolute;
    left: 400px;
    top: 420px;
  }
  
  .section-6 > img:nth-of-type(2) {
    position: absolute;
    left: 1202px;
    top: 93px;
  
  } 
  
  /* 섹션 7 */
  .section-7 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  /* 섹션 8 */
  .section-8 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-8 > span:nth-of-type(1) {
    position: absolute;
    left: 251px;
    top: 132px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
  }
  
  .section-8 > span:nth-of-type(2) {
    position: absolute;
    left: 251px;
    top: 204px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
  }
  
  .section-8 > span:nth-of-type(3) {
    position: absolute;
    left: 855px;
    top: 174px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
  }
  
  /* 섹션9 */
  .section-9 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-9 > span:nth-of-type(1) {
    position: absolute;
    left: 431px;
    top: 379px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #6AAFE6;
  }
  
  .section-9 > span:nth-of-type(2) {
    position:absolute;
    left:442px;
    top:507px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
  }
  
  .circle {
    width:10px;
    height:10px;
    position:absolute;
    left:461px;
    top:363px;
    background:#6aafe6;
    border-radius:50%;
  
  }
  
  .section-9 > img:last-child {
    position:absolute;
    left:1094px;
    top:175px;
  }
  
  /* 섹션 10 */
  .section-10 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-10 > span:nth-of-type(1) {
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #6AAFE6;
    position: absolute;
    left: 1210px;
    top: 414px;
  }
  
  .section-10 > span:nth-of-type(2) {
    position: absolute;
    left: 1210px;
    top: 514px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
  }
  
  .section-10 > div {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1239px;
    top: 397px;
    background: #6AAFE6;
    border-radius:50%;
  }
  
  .section-10 > div:nth-of-type(2) {
    left: 1290px;
    top: 397px;
  }
  
  .section-10 > div:nth-of-type(3) {
    left: 1327px;
    top: 397px;
  }
  
  .section-10 > img:last-child {
    position:absolute;
    left:482px;
    top:234px;
  }
  
  /* 섹션 11 */
  .section-11 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-11 > span:nth-of-type(1) {
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
    position: absolute;
    left: 434px;
    top: 405px;
  }
  
  .section-11 > span:nth-of-type(2) {
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    left: 434px;
    top: 522px;
    position: absolute;
  }
  
  .section-11 > div {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 463px;
    top: 393px;
    background: #FFFFFF;
  }
  
  .section-11 > div:nth-of-type(2) {
    left: 505px;
    top: 393px;
  }
  
  .section-11 > img:last-child {
    position: absolute;
    left: 1090px;
    top: 155px;
  }
  
  /* 섹션 12*/
  .section-12 {
    position:relative;
    width:1980px;
    height:1080px;
  }
  
  .section-12 > span:nth-of-type(1) {
    left: 1097px;
    top: 425px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    position: absolute;
    color: #6AAFE6
  }
  
  .section-12 > span:nth-of-type(2) {
    left: 1097px;
    top: 524px;
    font-family: NanumBarunpen;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    position: absolute;
  }
  
  .section-12 > div {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1127px;
    top: 415px;
    background: #6AAFE6;
  }
  
  .section-12 > div:nth-of-type(2) {
    left: 1167px;
    top: 415px;
  }
  
  .section-12 > img:last-child {
    left: 400px;
    top: 250px;
    position: absolute;
  }
  
  /* 섹션 13 */
  .section-13 {
    position:relative;
    width:1980px;
    height:900px;
    background-color:#6aafe6;
  }