/* 폰트 */

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

html { 
  font-family: 'Jeju Myeongjo', serif;
  overflow-x: hidden;
}

/* 노말라이즈*/

html,ul,li {
  margin:0;
  padding:0;
  text-decoration:none;
}

a {
  color:inherit;
  list-style:none;
}

/* 라이브러리 */ 
.con {
  min-width:1920px;

}

/* 커스텀 */

.section-1 {
  position:relative;
  width:1920px;
  height:1080px;
  margin-left: auto;
  margin-right: auto;
}

.section-1 > .logo {
  position: absolute;
  width: 279px;
  height: 74px;
  left: 158px;
  top: 71px;

}

.section-1 > .menu-bar {
  position: relative;
  width: 609px;
  height: 27px;
  left: 158px;
  top: 173px;
  text-transform:uppercase;
  font-size:25px;
  line-height:25px;
}

.section-1 > .menu-bar > span:nth-of-type(2) {
  position: absolute;
  width: 7px;
  height: 10px;
  font-size: 10px;
  top:-5px;
  left:85px;
}

.section-1 > .menu-bar > span:nth-of-type(3) {
  position: absolute;
  width: 7px;
  height: 10px;
  left: 88px;
  top: -10px;
  font-size:10px;
}

.section-1 > .menu-bar > span:nth-of-type(4) {
  position: absolute;
  width: 110px;
  height: 25px;
  left: 115px;
}

.section-1 > .menu-bar > span:nth-of-type(5)
{
  position:absolute;
  left:245px;
}

.section-1 > .menu-bar > span:nth-of-type(6) {
  position:absolute;
  left:325px;
}

.section-1 > .menu-bar > span:nth-of-type(7) {
  position:absolute;
  left:476px;
}

.section-1 > .menu-bar > span:hover {
  color:#a9a9a9;
  cursor:pointer;
}

.icon {
  position: absolute;
  width: 149px;
  height: 33px;
  left: 1803px;
  top: 0px;
}

.icon > span:first-child {
  position: absolute;
  height: 33px;
  width: 34px;
  right: 307px;
  top: 168px;
}

.icon > span:first-child > a > img {
  width:34px;
  height:33px;
}


.icon > span:nth-of-type(2) {
  position: absolute;
  height: 33px;
  width: 34px;
  right: 249px;
  top: 168px;


}

.icon > span:nth-of-type(3) {
  position: absolute;
  height: 33px;
  width: 34px;
  right: 192px;
  top: 168px;

}

.icon > span:nth-of-type(3) > a > img {
  width:34px;
  height:33px;
}

.intro {
  position: absolute;
  width: 1445px;
  height: 450px;
  left: 313px;
  top: 368px;

}

.product {
  position: absolute;
  width: 1602px;
  height: 1246px;
  left: 160px;
  top: 1110px;

}

.bottom {
  position: absolute;
  width: 1593px;
  height: 485px;
  left: 159px;
  top: 1870px;
}

.catagory-bar {
  position: absolute;
  width: 1590px;
  height: 23px;
  left: 160px;
  top: 958px;
  font-size: 23px;
  line-height: 23px;
}

.catagory-bar > span:hover {
  color:#a9a9a9;
  cursor:pointer;
}

.catagory-bar > span:nth-of-type(2) {
  margin-left:27px;
}

.catagory-bar > span:nth-of-type(3) {
  margin-left:27px;
}
.catagory-bar > span:nth-of-type(4) {
  margin-left:27px;
}

/* 셀렉트 바 */
select {
  height:24px;
  border:1px solid #d5d5d5;
  font-size:100%;
  color:#353535;
  position:absolute;
  left:1355px;
  vertical-align: middle;
  font-size:20px;


}

option {
  min-height:1.2em;
  padding:0 2px 1px;
  font-size:12px;
}