.section > a {
    font-size: 1.5rem;
    padding-left: 30px;
}

.section:hover > a {
    color:skyblue;
    text-decoration: underline;
}

.section > .img-box > img {
    width: 100%;
    display: block;

}

.section > .img-box {
    width: 500px;
    margin-left: 10px;
    margin-top: 20px;
}