/* 폰트 불러오기 */
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 커스텀 */

html {
    overflow-x: hidden;
    font-family: 'CookieRun-Regular';
}

.main {
    background: linear-gradient(179.46deg, #6AAFE6 33.51%, #FFFFFF 161.67%);
    height: 13067px;
    min-width: 1920px;
    position: relative;
}

.con {
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
}

/* 섹션 1*/

.main_seaction1 {
    height: 1080px;
}

/* 섹션 2 */
.main_seaction2 {
    height: 717px;
    position: relative;
}

.main_seaction2>img:last-child {
    position: absolute;
    left: 1454px;
    top: 154px;
}

/* 섹션 3 */
.main_seaction3 {
    height: 1827px;
    position: relative;
}

.main_seaction3>img:nth-of-type(2) {
    left: 594px;
    top: 402px;
    position: absolute;
}

.main_seaction3>img:nth-of-type(3) {
    left: 170px;
    top: 906px;
    position: absolute;
}

.main_seaction3>img:nth-of-type(4) {
    position: absolute;
    left: 594px;
    top: 1389px;

}

/* 섹션4*/
.main_seaction4 {
    position: relative;
    height: 1271px;
}

.main_seaction4>img:last-child {
    position: absolute;
    left: 389px;
    top: 331px;
}

/* 섹션 5 */
.main_seaction5 {
    position: relative;
    height: 676px;
}

/* 섹션 6 */
.main_seaction6 {
    position: relative;
    height: 1761px;
}

/* 섹션 7 */
.main_seaction7 {
    position: relative;
    height: 1030px;
}

.main_seaction7>img:last-child {
    position: absolute;
    left: 292px;
    top: 330px;
}

/* 섹션 8 */
.main_seaction8 {
    height: 2060px;
}

/* 섹션 9 */
.main_seaction9 {
    height: 1336px;
}

/* 섹션 10 */
.main_seaction10 {
    height: 1372px;
}